/*Center*/
.container {
	width: 1324px;
	height: 150px;
	margin:0 auto;
	position: relative;
}
.load-more {
	width: 190px;
	height:70px;
	background-color: #FF7A00;
	/*margin: 0 auto;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	border-radius: 30px;
	transition: all 0.5s linear 0.5s;
}
.load-more:hover {
	background-color: blue;
	color: red;
}


/*Section 1*/
.box-wraper {
	width: 600px;
	height: 600px;
	background-color: blue;
	position: relative;
	transition: all 0.5s linear 0.2s;
	/*transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 0.5s;*/
}
.child-box {
	width: 200px;
	height: 200px;
	background-color: yellow;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
	transition: all 0.5s linear 0.5s;
	animation: myanimation 3s infinite;
}

/*hover effects*/
.child-box:hover {
	background-color: red;
	transform: translate(-50%,-50%) rotate(0deg);
}
.box-wraper:hover {
	background-color: aqua;
}

/*.box-wraper:hover .child-box {
	background-color: black;
	width: 350px;	
}*/

/*Keyframe block*/
.block-wraper {
	height: 250px;
	position: relative;
}
.block-animation {
	width: 150px;
	height: 150px;
	background-color: red;
	position: absolute;
	animation: mymoveblock 8s 3;
}
/*Background-image*/
.bg-image {
	background-image: url('../img/imag1.jpg');
	height: 500px;
	width: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.test-image {
	height: 500px;
	width: 800px;
}
.text-image {
	position: absolute;
	top: 50px;
	left:100px;
	color: #fff;
}

/*Keyframes*/
@keyframes myanimation {
  0%   { transform: translate(-50%,-50%) rotate(45deg); background: red;}
  25%  { transform: translate(-50%,-50%) rotate(0deg);background: blue;}
  50%  { transform: translate(-50%,-50%) rotate(90deg);background: yellow;}
  75%  { transform: translate(-50%,-50%) rotate(360deg);background: green;}
  100% { transform: translate(-50%,-50%) rotate(45deg);background: red;}
}

@keyframes mymoveblock {
  0%   {top: 0px; left: 0px; background: red;}
  25%  {top: 0px; left: 500px; background: blue;}
  50%  {top: 100px; left: 500px; background: yellow;}
  75%  {top: 100px; left: 0px; background: green;}
  100% {top: 0px; left: 0px; background: red;}
}